/* 自訂字型 LINESeedTW */
@font-face {
  font-family: "LINESeedTW";
  src: url("/LINESeedTW_OTF_Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "LINESeedTW", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang TC", "Helvetica Neue", Arial, "Noto Sans TC", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  height: 100%;
  max-width: 100vw;
}

body {
  height: 100%;
  background: #111;
  max-width: 100vw;
  overflow-x: hidden;
}

